<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	th:replace="~{/layouts/layout :: dynamic(~{::body})}">

<head>
<title>Title</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS v5.2.1 -->
</head>

<body>
	<section class="content-item" id="comments" ng-app="myApp">
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<form>
						<h3 class="pull-left">New Comment</h3>
						<button type="submit" class="btn btn-normal pull-right">Submit</button>
						<fieldset>
							<div class="row">
								<div class="col-sm-3 col-lg-2 hidden-xs">
									<img class="img-responsive"
										src="https://bootdey.com/img/Content/avatar/avatar1.png"
										alt="">
								</div>
								<div class="form-group col-xs-12 col-sm-9 col-lg-10">
									<textarea class="form-control" id="message"
										placeholder="Your message" required=""></textarea>
								</div>
							</div>
						</fieldset>
					</form>

					<h3>4 Comments</h3>

					<!-- COMMENT 1 - START -->
					<div ng-controller="loadAll">
						<div class="media" ng-repeat="item in items">
							<a class="pull-left" href="#"><img class="media-object"
								src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""></a>
							<div class="media-body">
								<h4 class="media-heading">{{item.user.name}}</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem
									ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum
									dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor
									sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit
									amet, consectetur adipiscing elit.</p>
								<ul class="list-unstyled list-inline media-detail pull-left">
									<li><i class="fa fa-calendar"></i>27/02/2014</li>
									<li><i class="fa fa-thumbs-up"></i>13</li>
								</ul>
								<ul class="list-unstyled list-inline media-detail pull-right">
									<li class=""><a href="">Like</a></li>
									<li class=""><a href="">Reply</a></li>
								</ul>
							</div>
						</div>
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th ng-click="sortBy('id')">Mã người dùng</th>
										<th>Edit</th>

									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="user in items | orderBy:prop |limitTo:5:begin">
										<td>{{user.id}}</td>
										<td ng-click="edit(user.id)"><a href="#">edit </a></td>
									</tr>
								</tbody>
							</table>
							<!-- Phần phân trang -->


						</div>
					</div>
				</div>
			</div>
		</div>
		<hr style="border-color: #000; border-width: 2px;" />
		<hr style="border-color: #000; border-width: 2px;" />
		<hr style="border-color: #000; border-width: 2px;" />
		<hr style="border-color: #000; border-width: 2px;" />
	</section>

	<hr style="border-color: #000; border-width: 2px;" />
	<hr style="border-color: #000; border-width: 2px;" />
	<hr style="border-color: #000; border-width: 2px;" />
	<hr style="border-color: #000; border-width: 2px;" />


	<!-- angular -->

	<script
		th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js}"></script>

	<script th:inline="javascript" th:src="@{/assets/js/comment.js}"></script>
	<script th:inline="javascript" th:src="@{/admin/angularjs/user.js}"></script>
	
</body>

</html>
