<header id="header-site" class="header">
      <div class="top-header up-main" style="background-color: rgb(0, 0, 0); color: #ffffff;">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="item-top left-top">
                <div class="box-left d-flex flex-wrap align-items-center">
                  <div class="hotline">
                    <span>Hotline: <b>0389307257</b> * Tư vấn build PC: <b>0389307257</b> * Địa chỉ:
                      <b>Cần Thơ</b></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">

            </div>
          </div>
        </div>
      </div>

      <!-- Tìm kiếm , giỏ hàng -->
      <div class="main-logo-shop">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">
              <a href="" class="logo"><img height="35px" src="..//assets/images/logo/logo.jpg ">

              </a>
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12">
              <div class="search-shop-holine">
                <div class="row">
                  <div class="col-md-7">
                    <div class="search">
                      <i class="fa fa-search"></i>
                      <input type="text" class="form-control" placeholder="tìm kiếm sản phẩm ...">
                      <button class="btn">Search</button>
                    </div>
                  </div>
                  <script type="text/javascript">
                    $(function () {
                      $('#searchForm').on('submit', function () {
                        var keyword = $('.keyword').val();
                        if (keyword == '') {
                          alert('Bạn phải nhập từ khóa');
                          return false;
                        }
                      });
                    });
                  </script>
                  <div class="col-md-2" style="margin-left: 20px;">
                    <div class="item-top right-top">

                      <ul style="margin-right: 30px;">
                        <i class="fa-regular fa-user fa-xl" style="margin-top: 20px;"></i>
                        <li><a th:href="@{/pcgearhub/login}" rel="nofollow">Đăng nhập</a></li>
                        <li><a href="">/</a></li>
                        <li><a th:href="@{/pcgearhub/sign-in}" rel="nofollow">Đăng ký</a></li>


                        <li onmouseover="showDropdown()" onmouseout="hideDropdown()"><a href="#" rel="nofollow" > &ensp; Tài Khoản Của Tôi <i class="fa-solid fa-angle-down"></i></a>
<ul id="dropdownMenu" class="dropdown-menu fade-up bg-light" style="list-style: none; display: none;">
    <li><a class="dropdown-item" style="color: #686868" th:href="@{/shoeshop/ChangePass}"> Trang cá nhân </a></li>
       <li><a class="dropdown-item" style="color: #686868" th:href="@{/shoeshop/ChangePass}"> Đổi mật khẩu </a></li>
             <li><a class="dropdown-item" style="color: #686868" th:href="@{/shoeshop/ChangePass}"> Quên mật khẩu </a></li>
          <li><a class="dropdown-item" style="color: #686868" th:href="@{/shoeshop/ChangePass}"></a></li>
</ul>


                        
                        </li>

                      </ul>
                      <div class="col-md-2" style="margin-left: 15px;">
                        <div class="header__cart">
                          <ul>
                            <li class="hi"><a href="#"><i class="fa fa-shopping-bag"></i>
                                <span>3</span></a></li>


                          </ul>


                        </div>

                      </div>
                      <div class="col-md-2">
                        <div class="header__cart">
                          <ul>
                            <li class="hu"><a th:href="@{/pcgearhub/cart}">Giỏ hàng
                              </a></li>


                          </ul>


                        </div>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Tìm kiếm , giỏ hàng -->


    </header>