<div class="container-fluid " th:fragment="product" style="margin-top: 20px; margin-bottom: 300px;">
      <h2 style="font-weight: bold;">TOP NHỮNG SẢN PHẨM BÁN CHẠY NHẤT</h2>
      <div class="row">
        <div class="col-md-3 col-sm-6" style="margin-top: 10px;">
          <div class="product-grid">
            <div class="product-image">
              <a href="#" class="image">
                <img class="pic-1" src="../assets/images/balo.png">
                <img class="pic-2" src="../assets/images/balo2.png">
              </a>
              <ul class="social">
                <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
              </ul>

            </div>
            <div class="product-content">
              <h3 class="title"><span class="text-overflow">Balo GARNACH
                  Roadster - Phiên bản đặc biệt Trực Tiếp Game</span></h3>

              <div class="row">
                <div class="col-md-6">
                  <h4> <del style="color: #898888;margin-right: 130px; font-size: 13px;">1,000,000đ</del></h4>
                  <h4 style="font-weight: bold;margin-right: 130px; color: red;"> 490,000đ </h4>
                </div>
                <div class="col-md-6">

                  <span class="badge"
                    style="margin-top: 30px; background-color:red; border-radius: 3px; font-size: 13px;">-20%</span>
                </div>

              </div>
            </div>
            <a class="button-addtocart" style="margin-bottom: -30px; cursor: pointer;" onclick="showNotification()">
              <span class="span-bt-addtocart" style="margin-top: -20px;"><i
                  class="icon-addtocart fa-thin fa-basket-shopping" style="color: white; margin-left: -112px;"></i>
                <span class="text-bt-addtocart" style="margin-left:6px;">Thêm vào giỏ</span></span>

            </a>

          </div>
        </div>
        <div class="col-md-3 col-sm-6" style="margin-top: 10px;">
          <div class="product-grid">
            <div class="product-image">
              <a href="#" class="image">
                <img class="pic-1" src="../assets/images/ChuotKhongDay1.png">
                <img class="pic-2" src="../assets/images/ChuotKhongDay2.png">
              </a>

              <ul class="social">
                <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
              </ul>

            </div>
            <div class="product-content">
              <h3 class="title"><span class="text-overflow" style="max-width: 300px;"> Balo GARNACH
                  Roadster - Phiên bản đặc biệt Trực Tiếp Game</span></h3>

              <div class="row">
                <div class="col-md-6">
                  <h4> <del style="color: #898888;margin-right: 130px; font-size: 13px;">1,000,000đ</del></h4>
                  <h4 style="font-weight: bold;margin-right: 130px; color: red;"> 490,000đ </h4>
                </div>
                <div class="col-md-6">

                  <span class="badge"
                    style="margin-top: 30px; background-color:red; border-radius: 3px; font-size: 13px;">-20%</span>
                </div>

              </div>
            </div>
            <a class="button-addtocart" style="margin-bottom: -30px; cursor: pointer;" onclick="showNotification()">
              <span class="span-bt-addtocart" style="margin-top: -20px;"><i
                  class="icon-addtocart fa-thin fa-basket-shopping" style="color: white; margin-left: -112px;"></i>
                <span class="text-bt-addtocart" style="margin-left:6px;">Thêm vào giỏ</span></span>

            </a>

          </div>
        </div>
        <div class="col-md-3 col-sm-6" style="margin-top: 10px;">
          <div class="product-grid">
            <div class="product-image">
              <a href="#" class="image">
                <img class="pic-1" src="../assets/images/Banphim1.png" height="300px">
                <img class="pic-2" src="../assets/images/Banphim2.png" height="300px">
              </a>

              <ul class="social">
                <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
              </ul>

            </div>
            <div class="product-content">
              <h3 class="title"><span class="text-overflow" style="max-width: 300px;">Chuột không dây gaming DareU
                  EM901X RGB</span></h3>

              <div class="row">
                <div class="col-md-6">
                  <h4> <del style="color: #898888;margin-right: 130px; font-size: 13px;">1,000,000đ</del></h4>
                  <h4 style="font-weight: bold;margin-right: 130px; color: red;"> 490,000đ </h4>
                </div>
                <div class="col-md-6">

                  <span class="badge"
                    style="margin-top: 30px; background-color:red; border-radius: 3px; font-size: 13px;">-20%</span>
                </div>

              </div>
            </div>
            <a class="button-addtocart" style="margin-bottom: -30px; cursor: pointer;" onclick="showNotification()">
              <span class="span-bt-addtocart" style="margin-top: -20px;"><i
                  class="icon-addtocart fa-thin fa-basket-shopping" style="color: white; margin-left: -112px;"></i>
                <span class="text-bt-addtocart" style="margin-left:6px;">Thêm vào giỏ</span></span>

            </a>

          </div>
        </div>
        <div class="col-md-3 col-sm-6" style="margin-top: 10px;">
          <div class="product-grid">
            <div class="product-image">
              <a href="#" class="image">
                <img class="pic-1" src="../assets/images/DareUEM901XRGB1.png" height="264px" width="263px">
                <img class="pic-2" src="../assets/images/DareUEM901XRGB2.png" height="264px" width="263px">
              </a>

              <ul class="social">
                <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
              </ul>

            </div>
            <div class="product-content">
              <h3 class="title"><span class="text-overflow" style="max-width: 300px;">Balo GARNACH
                  Roadster - Phiên bản đặc biệt Trực Tiếp Game</span></h3>

              <div class="row">
                <div class="col-md-6">
                  <h4> <del style="color: #898888;margin-right: 130px; font-size: 13px;">1,000,000đ</del></h4>
                  <h4 style="font-weight: bold;margin-right: 130px; color: red;"> 490,000đ </h4>
                </div>
                <div class="col-md-6">

                  <span class="badge"
                    style="margin-top: 30px; background-color:red; border-radius: 3px; font-size: 13px;">-20%</span>
                </div>

              </div>
            </div>
            <a class="button-addtocart" style="margin-bottom: -30px; cursor: pointer;" onclick="showNotification()">
              <span class="span-bt-addtocart" style="margin-top: -20px;"><i
                  class="icon-addtocart fa-thin fa-basket-shopping" style="color: white; margin-left: -112px;"></i>
                <span class="text-bt-addtocart" style="margin-left:6px;">Thêm vào giỏ</span></span>

            </a>

          </div>
        </div>
        <div class="col-md-3 col-sm-6" style="margin-top: 10px;">
          <div class="product-grid">
            <div class="product-image">
              <a href="#" class="image">
                <img class="pic-1" src="../assets/images/BaloAsusROGRangerBP3703GamingBackpack.png"
                  height="264px" width="263px">
                <img class="pic-2" src="../assets/images/BaloAsusROGRangerBP3703GamingBackpack2.png"
                  height="264px" width="263px">
              </a>

              <ul class="social">
                <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
              </ul>

            </div>
            <div class="product-content">
              <h3 class="title"><span class="text-overflow" style="max-width: 300px;"> Balo GARNACH
                  Roadster - Phiên bản đặc biệt Trực Tiếp Game</span></h3>

              <div class="row">
                <div class="col-md-6">
                  <h4> <del style="color: #898888;margin-right: 130px; font-size: 13px;">1,000,000đ</del></h4>
                  <h4 style="font-weight: bold;margin-right: 130px; color: red;"> 490,000đ </h4>
                </div>
                <div class="col-md-6">

                  <span class="badge"
                    style="margin-top: 30px; background-color:red; border-radius: 3px; font-size: 13px;">-20%</span>
                </div>

              </div>
            </div>
            <a class="button-addtocart" style="margin-bottom: -30px; cursor: pointer;" onclick="showNotification()">
              <span class="span-bt-addtocart" style="margin-top: -20px;"><i
                  class="icon-addtocart fa-thin fa-basket-shopping" style="color: white; margin-left: -112px;"></i>
                <span class="text-bt-addtocart" style="margin-left:6px;">Thêm vào giỏ</span></span>

            </a>

          </div>
        </div>
        <div class="col-md-3 col-sm-6" style="margin-top: 10px;">
          <div class="product-grid">
            <div class="product-image">
              <a href="#" class="image">
                <img class="pic-1" src="../assets/images/E-DraEK368L.png" height="300px">
                <img class="pic-2" src="../assets/images/E-DraEK368L2.png" height="300px">
              </a>

              <ul class="social">
                <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
              </ul>

            </div>
            <div class="product-content">
              <h3 class="title"><span class="text-overflow"> BBàn phím cơ E-Dra EK368L - Alpha & Beta</span></h3>

              <div class="row">
                <div class="col-md-6">
                  <h4> <del style="color: #898888;margin-right: 130px; font-size: 13px;">1,000,000đ</del></h4>
                  <h4 style="font-weight: bold;margin-right: 130px; color: red;"> 490,000đ </h4>
                </div>
                <div class="col-md-6">

                  <span class="badge"
                    style="margin-top: 30px; background-color:red; border-radius: 3px; font-size: 13px;">-20%</span>
                </div>

              </div>
            </div>
            <a class="button-addtocart" style="margin-bottom: -30px; cursor: pointer;" onclick="showNotification()">
              <span class="span-bt-addtocart" style="margin-top: -20px;"><i
                  class="icon-addtocart fa-thin fa-basket-shopping" style="color: white; margin-left: -112px;"></i>
                <span class="text-bt-addtocart" style="margin-left:6px;">Thêm vào giỏ</span></span>

            </a>

          </div>
        </div>
        <div class="col-md-3 col-sm-6" style="margin-top: 10px;">
          <div class="product-grid">
            <div class="product-image">
              <a href="#" class="image">
                <img class="pic-1" src="../assets/images/balo.png">
                <img class="pic-2" src="../assets/images/balo2.png">
              </a>

              <ul class="social">
                <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
              </ul>

            </div>
            <div class="product-content">
              <h3 class="title"><span class="text-overflow" style="max-width: 300px;"> Balo GARNACH
                  Roadster - Phiên bản đặc biệt Trực Tiếp Game</span></h3>

              <div class="row">
                <div class="col-md-6">
                  <h4> <del style="color: #898888;margin-right: 130px; font-size: 13px;">1,000,000đ</del></h4>
                  <h4 style="font-weight: bold;margin-right: 130px; color: red;"> 490,000đ </h4>
                </div>
                <div class="col-md-6">

                  <span class="badge"
                    style="margin-top: 30px; background-color:red; border-radius: 3px; font-size: 13px;">-20%</span>
                </div>

              </div>
            </div>
            <a class="button-addtocart" style="margin-bottom: -30px; cursor: pointer;" onclick="showNotification()">
              <span class="span-bt-addtocart" style="margin-top: -20px;"><i
                  class="icon-addtocart fa-thin fa-basket-shopping" style="color: white; margin-left: -112px;"></i>
                <span class="text-bt-addtocart" style="margin-left:6px;">Thêm vào giỏ</span></span>

            </a>

          </div>
        </div>
        <div class="col-md-3 col-sm-6" style="margin-top: 10px;">
          <div class="product-grid">
            <div class="product-image">
              <a href="#" class="image">
                <img class="pic-1" src="../assets/images/XunfoxXYH802.png">
                <img class="pic-2" src="../assets/images/XunfoxXYH801.png">
              </a>

              <ul class="social">
                <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
              </ul>

            </div>
            <div class="product-content">
              <h3 class="title"><span class="text-overflow" style="max-width: 300px;"> XYH80 Hollow-Out Honeycomb 2.4G
                  Wireless Gaming Mouse 4 Gear 3200 DPI RGB Light</span></h3>

              <div class="row">
                <div class="col-md-6">
                  <h4> <del style="color: #898888;margin-right: 130px; font-size: 13px;">1,000,000đ</del></h4>
                  <h4 style="font-weight: bold;margin-right: 130px; color: red;"> 490,000đ </h4>
                </div>
                <div class="col-md-6">

                  <span class="badge"
                    style="margin-top: 30px; background-color:red; border-radius: 3px; font-size: 13px;">-20%</span>
                </div>

              </div>
            </div>
            <a class="button-addtocart" style="margin-bottom: -30px; cursor: pointer;" onclick="showNotification()">
              <span class="span-bt-addtocart" style="margin-top: -20px;"><i
                  class="icon-addtocart fa-thin fa-basket-shopping" style="color: white; margin-left: -112px;"></i>
                <span class="text-bt-addtocart" style="margin-left:6px;">Thêm vào giỏ</span></span>

            </a>
            
          </div>
          
        </div>

        <!-- phân trang -->
        <nav style="text-align: center;" class="pagination-container-fluid">
          <div class="pagination">
            <a class="pagination-newer" href="#">PREV</a>
            <span class="pagination-inner">
              <a class="pagination-active" href="#">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">5</a>
              <a href="#">6</a>
            </span>
            <a class="pagination-older" href="#">NEXT</a>
          </div>
        </nav>
        <!-- nhũng sản phẩm mới về-->
        <div class="container-fluid " style="margin-top: -20px;">
          <h2 style="font-weight: bold;">TOP NHỮNG SẢN PHẨM MỚI VỀ  </h2>
          <div class="row">
            <div class="col-md-3 col-sm-6" style="margin-top: 10px;">
              <div class="product-grid">
                <div class="product-image">
                  <a href="#" class="image">
                    <img class="pic-1" src="../assets/images/balo.png">
                    <img class="pic-2" src="../assets/images/balo2.png">
                  </a>
                  <ul class="social">
                    <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                    <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                  </ul>
    
                </div>
                <div class="product-content">
                  <h3 class="title"><span class="text-overflow">Balo GARNACH
                      Roadster - Phiên bản đặc biệt Trực Tiếp Game</span></h3>
    
                  <div class="row">
                    <div class="col-md-6">
                      <h4> <del style="color: #898888;margin-right: 130px; font-size: 13px;">1,000,000đ</del></h4>
                      <h4 style="font-weight: bold;margin-right: 130px; color: red;"> 490,000đ </h4>
                    </div>
                    <div class="col-md-6">
    
                      <span class="badge"
                        style="margin-top: 30px; background-color:red; border-radius: 3px; font-size: 13px;">-20%</span>
                    </div>
    
                  </div>
                </div>
                <a class="button-addtocart" style="margin-bottom: -30px; cursor: pointer;" onclick="showNotification()">
                  <span class="span-bt-addtocart" style="margin-top: -20px;"><i
                      class="icon-addtocart fa-thin fa-basket-shopping" style="color: white; margin-left: -112px;"></i>
                    <span class="text-bt-addtocart" style="margin-left:6px;">Thêm vào giỏ</span></span>
    
                </a>
    
              </div>
            </div>
            <div class="col-md-3 col-sm-6" style="margin-top: 10px;">
              <div class="product-grid">
                <div class="product-image">
                  <a href="#" class="image">
                    <img class="pic-1" src="../assets/images/ChuotKhongDay1.png">
                    <img class="pic-2" src="../assets/images/ChuotKhongDay2.png">
                  </a>
    
                  <ul class="social">
                    <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                    <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                  </ul>
    
                </div>
                <div class="product-content">
                  <h3 class="title"><span class="text-overflow" style="max-width: 300px;"> Balo GARNACH
                      Roadster - Phiên bản đặc biệt Trực Tiếp Game</span></h3>
    
                  <div class="row">
                    <div class="col-md-6">
                      <h4> <del style="color: #898888;margin-right: 130px; font-size: 13px;">1,000,000đ</del></h4>
                      <h4 style="font-weight: bold;margin-right: 130px; color: red;"> 490,000đ </h4>
                    </div>
                    <div class="col-md-6">
    
                      <span class="badge"
                        style="margin-top: 30px; background-color:red; border-radius: 3px; font-size: 13px;">-20%</span>
                    </div>
    
                  </div>
                </div>
                <a class="button-addtocart" style="margin-bottom: -30px; cursor: pointer;" onclick="showNotification()">
                  <span class="span-bt-addtocart" style="margin-top: -20px;"><i
                      class="icon-addtocart fa-thin fa-basket-shopping" style="color: white; margin-left: -112px;"></i>
                    <span class="text-bt-addtocart" style="margin-left:6px;">Thêm vào giỏ</span></span>
    
                </a>
    
              </div>
            </div>
            <div class="col-md-3 col-sm-6" style="margin-top: 10px;">
              <div class="product-grid">
                <div class="product-image">
                  <a href="#" class="image">
                    <img class="pic-1" src="../assets/images/Banphim1.png" height="300px">
                    <img class="pic-2" src="../assets/images/Banphim2.png" height="300px">
                  </a>
    
                  <ul class="social">
                    <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                    <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                  </ul>
    
                </div>
                <div class="product-content">
                  <h3 class="title"><span class="text-overflow" style="max-width: 300px;">Chuột không dây gaming DareU
                      EM901X RGB</span></h3>
    
                  <div class="row">
                    <div class="col-md-6">
                      <h4> <del style="color: #898888;margin-right: 130px; font-size: 13px;">1,000,000đ</del></h4>
                      <h4 style="font-weight: bold;margin-right: 130px; color: red;"> 490,000đ </h4>
                    </div>
                    <div class="col-md-6">
    
                      <span class="badge"
                        style="margin-top: 30px; background-color:red; border-radius: 3px; font-size: 13px;">-20%</span>
                    </div>
    
                  </div>
                </div>
                <a class="button-addtocart" style="margin-bottom: -30px; cursor: pointer;" onclick="showNotification()">
                  <span class="span-bt-addtocart" style="margin-top: -20px;"><i
                      class="icon-addtocart fa-thin fa-basket-shopping" style="color: white; margin-left: -112px;"></i>
                    <span class="text-bt-addtocart" style="margin-left:6px;">Thêm vào giỏ</span></span>
    
                </a>
    
              </div>
            </div>
            <div class="col-md-3 col-sm-6" style="margin-top: 10px;">
              <div class="product-grid">
                <div class="product-image">
                  <a href="#" class="image">
                    <img class="pic-1" src="../assets/images/DareUEM901XRGB1.png" height="264px" width="263px">
                    <img class="pic-2" src="../assets/images/DareUEM901XRGB2.png" height="264px" width="263px">
                  </a>
    
                  <ul class="social">
                    <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                    <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                  </ul>
    
                </div>
                <div class="product-content">
                  <h3 class="title"><span class="text-overflow" style="max-width: 300px;">Balo GARNACH
                      Roadster - Phiên bản đặc biệt Trực Tiếp Game</span></h3>
    
                  <div class="row">
                    <div class="col-md-6">
                      <h4> <del style="color: #898888;margin-right: 130px; font-size: 13px;">1,000,000đ</del></h4>
                      <h4 style="font-weight: bold;margin-right: 130px; color: red;"> 490,000đ </h4>
                    </div>
                    <div class="col-md-6">
    
                      <span class="badge"
                        style="margin-top: 30px; background-color:red; border-radius: 3px; font-size: 13px;">-20%</span>
                    </div>
    
                  </div>
                </div>
                <a class="button-addtocart" style="margin-bottom: -30px; cursor: pointer;" onclick="showNotification()">
                  <span class="span-bt-addtocart" style="margin-top: -20px;"><i
                      class="icon-addtocart fa-thin fa-basket-shopping" style="color: white; margin-left: -112px;"></i>
                    <span class="text-bt-addtocart" style="margin-left:6px;">Thêm vào giỏ</span></span>
    
                </a>
    
              </div>
            </div>
            <div class="col-md-3 col-sm-6" style="margin-top: 10px;">
              <div class="product-grid">
                <div class="product-image">
                  <a href="#" class="image">
                    <img class="pic-1" src="../assets/images/BaloAsusROGRangerBP3703GamingBackpack.png"
                      height="264px" width="263px">
                    <img class="pic-2" src="../assets/images/BaloAsusROGRangerBP3703GamingBackpack2.png"
                      height="264px" width="263px">
                  </a>
    
                  <ul class="social">
                    <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                    <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                  </ul>
    
                </div>
                <div class="product-content">
                  <h3 class="title"><span class="text-overflow" style="max-width: 300px;"> Balo GARNACH
                      Roadster - Phiên bản đặc biệt Trực Tiếp Game</span></h3>
    
                  <div class="row">
                    <div class="col-md-6">
                      <h4> <del style="color: #898888;margin-right: 130px; font-size: 13px;">1,000,000đ</del></h4>
                      <h4 style="font-weight: bold;margin-right: 130px; color: red;"> 490,000đ </h4>
                    </div>
                    <div class="col-md-6">
    
                      <span class="badge"
                        style="margin-top: 30px; background-color:red; border-radius: 3px; font-size: 13px;">-20%</span>
                    </div>
    
                  </div>
                </div>
                <a class="button-addtocart" style="margin-bottom: -30px; cursor: pointer;" onclick="showNotification()">
                  <span class="span-bt-addtocart" style="margin-top: -20px;"><i
                      class="icon-addtocart fa-thin fa-basket-shopping" style="color: white; margin-left: -112px;"></i>
                    <span class="text-bt-addtocart" style="margin-left:6px;">Thêm vào giỏ</span></span>
    
                </a>
    
              </div>
            </div>
            <div class="col-md-3 col-sm-6" style="margin-top: 10px;">
              <div class="product-grid">
                <div class="product-image">
                  <a href="#" class="image">
                    <img class="pic-1" src="../assets/images/E-DraEK368L.png" height="300px">
                    <img class="pic-2" src="../assets/images/E-DraEK368L2.png" height="300px">
                  </a>
    
                  <ul class="social">
                    <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                    <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                  </ul>
    
                </div>
                <div class="product-content">
                  <h3 class="title"><span class="text-overflow"> BBàn phím cơ E-Dra EK368L - Alpha & Beta</span></h3>
    
                  <div class="row">
                    <div class="col-md-6">
                      <h4> <del style="color: #898888;margin-right: 130px; font-size: 13px;">1,000,000đ</del></h4>
                      <h4 style="font-weight: bold;margin-right: 130px; color: red;"> 490,000đ </h4>
                    </div>
                    <div class="col-md-6">
    
                      <span class="badge"
                        style="margin-top: 30px; background-color:red; border-radius: 3px; font-size: 13px;">-20%</span>
                    </div>
    
                  </div>
                </div>
                <a class="button-addtocart" style="margin-bottom: -30px; cursor: pointer;" onclick="showNotification()">
                  <span class="span-bt-addtocart" style="margin-top: -20px;"><i
                      class="icon-addtocart fa-thin fa-basket-shopping" style="color: white; margin-left: -112px;"></i>
                    <span class="text-bt-addtocart" style="margin-left:6px;">Thêm vào giỏ</span></span>
    
                </a>
    
              </div>
            </div>
            <div class="col-md-3 col-sm-6" style="margin-top: 10px;">
              <div class="product-grid">
                <div class="product-image">
                  <a href="#" class="image">
                    <img class="pic-1" src="../assets/images/balo.png">
                    <img class="pic-2" src="../assets/images/balo2.png">
                  </a>
    
                  <ul class="social">
                    <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                    <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                  </ul>
    
                </div>
                <div class="product-content">
                  <h3 class="title"><span class="text-overflow" style="max-width: 300px;"> Balo GARNACH
                      Roadster - Phiên bản đặc biệt Trực Tiếp Game</span></h3>
    
                  <div class="row">
                    <div class="col-md-6">
                      <h4> <del style="color: #898888;margin-right: 130px; font-size: 13px;">1,000,000đ</del></h4>
                      <h4 style="font-weight: bold;margin-right: 130px; color: red;"> 490,000đ </h4>
                    </div>
                    <div class="col-md-6">
    
                      <span class="badge"
                        style="margin-top: 30px; background-color:red; border-radius: 3px; font-size: 13px;">-20%</span>
                    </div>
    
                  </div>
                </div>
                <a class="button-addtocart" style="margin-bottom: -30px; cursor: pointer;" onclick="showNotification()">
                  <span class="span-bt-addtocart" style="margin-top: -20px;"><i
                      class="icon-addtocart fa-thin fa-basket-shopping" style="color: white; margin-left: -112px;"></i>
                    <span class="text-bt-addtocart" style="margin-left:6px;">Thêm vào giỏ</span></span>
    
                </a>
    
              </div>
            </div>
            <div class="col-md-3 col-sm-6" style="margin-top: 10px;">
              <div class="product-grid">
                <div class="product-image">
                  <a href="#" class="image">
                    <img class="pic-1" src="../assets/images/XunfoxXYH802.png">
                    <img class="pic-2" src="../assets/images/XunfoxXYH801.png">
                  </a>
    
                  <ul class="social">
                    <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                    <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                  </ul>
    
                </div>
                <div class="product-content">
                  <h3 class="title"><span class="text-overflow" style="max-width: 300px;"> XYH80 Hollow-Out Honeycomb 2.4G
                      Wireless Gaming Mouse 4 Gear 3200 DPI RGB Light</span></h3>
    
                  <div class="row">
                    <div class="col-md-6">
                      <h4> <del style="color: #898888;margin-right: 130px; font-size: 13px;">1,000,000đ</del></h4>
                      <h4 style="font-weight: bold;margin-right: 130px; color: red;"> 490,000đ </h4>
                    </div>
                    <div class="col-md-6">
    
                      <span class="badge"
                        style="margin-top: 30px; background-color:red; border-radius: 3px; font-size: 13px;">-20%</span>
                    </div>
    
                  </div>
                </div>
                <a class="button-addtocart" style="margin-bottom: -30px; cursor: pointer;" onclick="showNotification()">
                  <span class="span-bt-addtocart" style="margin-top: -20px;"><i
                      class="icon-addtocart fa-thin fa-basket-shopping" style="color: white; margin-left: -112px;"></i>
                    <span class="text-bt-addtocart" style="margin-left:6px;">Thêm vào giỏ</span></span>
    
                </a>
    
              </div>
            </div>
            <!-- phân trang -->
            <nav class="pagination-container">
              <div class="pagination">
                <a class="pagination-newer" href="#">PREV</a>
                <span class="pagination-inner">
                  <a class="pagination-active" href="#">1</a>
                  <a href="#">2</a>
                  <a href="#">3</a>
                  <a href="#">4</a>
                  <a href="#">5</a>
                  <a href="#">6</a>
                </span>
                <a class="pagination-older" href="#">NEXT</a>
              </div>
            </nav>
          </div>
    
    
        </div>
       
      </div>


    </div>