<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:replace="~{/layouts/layout :: dynamic(~{::body})}">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Shop Phụ kiện Máy Tính</title>
  <link rel="shortcut icon" th:href="@{/assets/Icon/logo1.jpg}" type="image/x-icon">
  <meta http-equiv="content-language" content="vi" />
  <meta name="robots" content="index,follow" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
<!--   <meta name="viewport" th:content="width=device-width, initial-scale=1.0, user-scalable=yes" /> -->
  <meta http-equiv="refresh" content="1800" />
  <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/owl.carousel.min.css}">
  <link rel="stylesheet"  type="text/css" th:href="@{/fontawesome-free-6.4.0-web/css/all.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">
</head>

<body>

      <!-- SlideShow -->

       <div th:replace="~{/fragment/slide-show :: slide}"></div>
       <div th:replace="~{/fragment/product :: product}"></div>
</body>




</html>