<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="content-language" content="vi" />
  <meta name="robots" content="index,follow" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
  <meta http-equiv="refresh" content="1800" />
  <link rel="stylesheet" href="..//static/assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="..//static/assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="..//static/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="..//static/assets/fontawesome-free-6.4.0-web/css/all.css">
  <link rel="stylesheet" type="text/css" href="..//static/assets/css/style.css">




</head>

<body>
  <div class="page-body-buong">
    <!-- header -->
    <header id="header-site" class="header">
      <div class="top-header up-main" style="background-color: rgb(0, 0, 0); color: #ffffff;">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="item-top left-top">
                <div class="box-left d-flex flex-wrap align-items-center">
                  <div class="hotline">
                    <span>Hotline: <b>0389307257</b> * Tư vấn build PC: <b>0389307257</b> * Địa chỉ:
                      <b>Cần Thơ</b></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">

            </div>
          </div>
        </div>
      </div>

      <!-- Tìm kiếm , giỏ hàng -->
      <div class="main-logo-shop">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">
              <a href="" class="logo"><img height="35px" src="..//static/assets/images/logo/logo.jpg ">

              </a>
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12">
              <div class="search-shop-holine">
                <div class="row">
                  <div class="col-md-7">
                    <div class="search">
                      <i class="fa fa-search"></i>
                      <input type="text" class="form-control" placeholder="tìm kiếm sản phẩm ...">
                      <button class="btn">Search</button>
                    </div>
                  </div>
                  <script type="text/javascript">
                    $(function () {
                      $('#searchForm').on('submit', function () {
                        var keyword = $('.keyword').val();
                        if (keyword == '') {
                          alert('Bạn phải nhập từ khóa');
                          return false;
                        }
                      });
                    });
                  </script>
                  <div class="col-md-2" style="margin-left: 20px;">
                    <div class="item-top right-top">

                      <ul>
                        <img src="../static/assets/images/logo/user.png" alt="">
                        <li><a href="#" rel="nofollow">Đăng nhập</a></li>
                        <li><a href="">/</a></li>
                        <li><a href="#" rel="nofollow">Đăng ký</a></li>


                        <li><a href="#" rel="nofollow">Tài Khoản Của Tôi</a></li>

                      </ul>
                      <div class="col-md-2">
                        <div class="header__cart">
                          <ul>
                            <li class="hi"><a href="#"><i class="fa fa-shopping-bag"></i>
                                <span>3</span></a></li>


                          </ul>


                        </div>

                      </div>
                      <div class="col-md-2">
                        <div class="header__cart">
                          <ul>
                            <li class="hu"><a href="#">Giỏ hàng
                              </a></li>


                          </ul>


                        </div>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Tìm kiếm , giỏ hàng -->


    </header>
    <!-- /header -->

    <!-- Danh mục , sản phẩm -->
    <div id="main" class="wrapper">
      <div class="category-menu">
        <div class="container-fluid">
          <div class="row">


            <!-- Phần danh mục -->
            <div class="col-md-3 col-sm-12 col-xs-12 col-edit-1">
              <div class="relative-category">
                <div class="top-category">
                  <h3 class="title-category">DANH MỤC SẢN PHẨM<i class="fa fa-bars"></i></h3>
                </div>
                <div class="nav-category-home hello">
                  <ul>
                    <li>
                      <a href="cpu-bo-vi-xu-ly.html" style="width: calc(100% - 30px);"><img
                          src="..//static/assets/images/logo/img-495041.png" alt="PC WORKSTATION">PC
                        WORKSTATION</a>

                      <i class="fa fa-plus css-icon-plus cssssss" style="max-width: 30px;"></i>
                      <div class="vertical-dropdown-menu">
                        <div class="row">
                          <div class="vertical-groups">
                            <div class="mega-group">
                              <!-- <h4 class="mega-group-header"><span>Thương hiệu</span></h4> -->
                              <ul class="group-link-default">
                                <li><a href="pchl-intel-workstation.html">PC INTEL
                                    WORKSTATION</a></li>
                                <li><a href="pchl-amd-workstation.html">PC AMD
                                    WORKSTATION</a></li>
                                <li><a href="hlc-intel-xeon-workstation.html">PCHL XEON
                                    WORKSTATION</a></li>
                                <li><a href="cau-hinh-may-sinh-vien.html">CẤU HÌNH MÁY
                                    SINH VIÊN</a></li>
                                <li><a href="may-tinh-chuyen-lam-do-hoa.html">MÁY TÍNH
                                    CHUYÊN LÀM ĐỒ HỌA</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <a href="#" style="width: calc(100% - 30px);"><img src="..//static/assets/images/logo/cpu.jpg"
                          alt="CPU - BỘ VI XỬ LÝ">CPU - BỘ
                        VI
                        XỬ LÝ</a>

                      <i class="fa fa-plus css-icon-plus cssssss" style="max-width: 30px;"></i>
                      <div class="vertical-dropdown-menu">
                        <div class="row">
                          <div class="vertical-groups">
                            <div class="mega-group">
                              <!-- <h4 class="mega-group-header"><span>Thương hiệu</span></h4> -->
                              <ul class="group-link-default">
                                <li> <a href="#">CPU Intel</a></li>
                                <li> <a href="#">CPU AMD</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <a href="#"><img
                          src="..//static/assets/images/logo/computer-game-computer-game-gaming-pc-playing-18.png"
                          alt="PC GAMING">PC GAMING</a>

                    </li>
                    <li>
                      <a href="#"><img src="..//static/assets/images/logo/mainboard.png"
                          alt="MAINBOARD - BO MẠCH CHỦ">MAINBOARD - BO MẠCH CHỦ</a>

                    </li>
                    <li>
                      <a href="#"><img src="..//static/assets/images/logo/vga.png" alt="VGA - CARD MÀN HÌNH">VGA -
                        CARD MÀN HÌNH</a>

                    </li>
                    <li>
                      <a href="#" style="width: calc(100% - 30px);"><img
                          src="..//static/assets/images/logo/computer-chip2-2-512.png" alt="LINH KIỆN MÁY TÍNH">LINH
                        KIỆN MÁY TÍNH</a>

                      <i class="fa fa-plus css-icon-plus cssssss" style="max-width: 30px;"></i>
                      <div class="vertical-dropdown-menu">
                        <div class="row">
                          <div class="vertical-groups">
                            <div class="mega-group">
                              <!-- <h4 class="mega-group-header"><span>Thương hiệu</span></h4> -->
                              <ul class="group-link-default">
                                <li><a href="ram-bo-nho-trong.html">RAM - BỘ NHỚ
                                    TRONG</a></li>
                                <li><a href="ssd-o-cung-the-ran.html">SSD - Ổ CỨNG THỂ
                                    RẮN</a></li>
                                <li><a href="hdd-o-cung-luu-tru.html">HDD - Ổ CỨNG</a>
                                </li>
                                <li><a href="psu-nguon-may-tinh.html">PSU - NGUỒN MÁY
                                    TÍNH</a></li>
                                <li><a href="case-vo-may-tinh.html">CASE - VỎ MÁY
                                    TÍNH</a></li>
                                <li><a href="monitor-man-hinh-may-tinh.html">MONITOR -
                                    MÀN HÌNH MÁY TÍNH</a></li>
                                <li><a href="keyboard-ban-phim.html">KEYBOARD - BÀN
                                    PHÍM</a></li>
                                <li><a href="mouse-chuot.html">MOUSE - CHUỘT</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <a href="man-hinh-may-tinh.html"><img
                          src="..//static/assets/images/logo/kisspng-imac-computer-icons-desktop-computers-monitors-5ad21ec6060fd8.1982121415237198780248.jpg"
                          alt="MÀN HÌNH MÁY TÍNH">MÀN HÌNH MÁY TÍNH</a>

                    </li>
                    <li>
                      <a href="gaming-gear-cooling.html" style="width: calc(100% - 30px);"><img
                          src="..//static/assets/images/logo/kisspng-computer-keyboard-computer-icons-vector-graphics-c-shortcut-key-svg-png-icon-free-download-14-333-5c684fd0b7feb9.0934393015503400487537.jpg"
                          alt="TẢN NHIỆT - GAMING GEAR">TẢN NHIỆT - GAMING GEAR</a>

                      <i class="fa fa-plus css-icon-plus cssssss" style="max-width: 30px;"></i>
                      <div class="vertical-dropdown-menu">
                        <div class="row">
                          <div class="vertical-groups">
                            <div class="mega-group">
                              <!-- <h4 class="mega-group-header"><span>Thương hiệu</span></h4> -->
                              <ul class="group-link-default">
                                <li><a href="chuot-game.html">CHUỘT GAME</a></li>
                                <li><a href="ban-phim-game.html">BÀN PHÍM GAME</a></li>
                                <li><a href="tai-nghe-game.html">TAI NGHE GAME</a></li>
                                <li><a href="ban-di-chuot.html">BÀN DI CHUỘT</a></li>
                                <li><a href="tan-nhiet-cpu.html">TẢN NHIỆT CPU</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <a href="thiet-bi-luu-tru.html" style="width: calc(100% - 30px);"><img
                          src="..//static/assets/images/logo/paintball-bag-case-storage-equipment-128.png"
                          alt="THIẾT BỊ LƯU TRỮ">THIẾT BỊ LƯU TRỮ</a>

                      <i class="fa fa-plus css-icon-plus cssssss" style="max-width: 30px;"></i>
                      <div class="vertical-dropdown-menu">
                        <div class="row">
                          <div class="vertical-groups">
                            <div class="mega-group">
                              <!-- <h4 class="mega-group-header"><span>Thương hiệu</span></h4> -->
                              <ul class="group-link-default">
                                <li><a href="thiet-bi-luu-tru-usb.html">THIẾT BỊ LƯU TRỮ
                                    USB</a></li>
                                <li><a href="o-cung-gan-ngoai.html">Ổ CỨNG GẮN NGOÀI</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <a href="#" style="width: calc(100% - 30px);"><img
                          src="..//static/assets/images/logo/phat-wifi.png" alt="THIẾT BỊ MẠNG">THIẾT
                        BỊ
                        MẠNG</a>

                      <i class="fa fa-plus css-icon-plus cssssss" style="max-width: 30px;"></i>
                      <div class="vertical-dropdown-menu">
                        <div class="row">
                          <div class="vertical-groups">
                            <div class="mega-group">
                              <!-- <h4 class="mega-group-header"><span>Thương hiệu</span></h4> -->
                              <ul class="group-link-default">
                                <li><a href="switch.html">SWITCH</a></li>
                                <li><a href="thiet-bi-mang-khong-day.html">THIẾT BỊ MẠNG
                                    KHÔNG DÂY</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <a href="man-hinh-may-tinh.html"><img
                          src="..//static/assets/images/logo/kisspng-imac-computer-icons-desktop-computers-monitors-5ad21ec6060fd8.1982121415237198780248.jpg"
                          alt="MÀN HÌNH MÁY TÍNH">MÀN HÌNH MÁY</a>

                    </li>
                  </ul>
                </div>
              </div>

            </div>
            <!-- /Phần danh mục -->



            <!-- menu -->

            <div class="col-md-9 col-sm-12 col-xs-12 col-edit-4">
              <div id="main-menu1">
                <ul>
                  <li>
                    <a href="#">
                      <div class="nav_horizontal_item">

                        <div class="nav_horizontal_text">
                          <p class="newBigText">PC Đồ Họa
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="nav_horizontal_item">

                        <div class="nav_horizontal_text">
                          <p class="newBigText">CPU Cao Cấp
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#">

                      <div class="nav_horizontal_item">

                        <div class="nav_horizontal_text">
                          <p class="newBigText">Giải Pháp
                        </div>
                      </div>
                    </a>
                    <ul class="sub-menu">
                      <li>
                        <a href="#" title="Kiến Trúc - 3d Render">Kiến
                          Trúc - 3d Render</a>
                        <i class="fal fa-angle-right"></i>
                        <ul class="sub-menu level3">
                          <li>
                            <a href="#" title="3D MAX">3D MAX</a>

                          </li>
                          <li>
                            <a href="#" title="Unreal Engine 4">Unreal
                              Engine 4</a>

                          </li>
                          <li>
                            <a href="#" title="Lumion">Lumion</a>

                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href="#" title="Dựng Phim - Edit Video">Dựng
                          Phim - Edit Video</a>
                        <i class="fal fa-angle-right"></i>
                        <ul class="sub-menu level3">
                          <li>
                            <a href="#" title="After Effect">After
                              Effect</a>

                          </li>
                          <li>
                            <a href="/davinci-resolve-ac88" title="DaVinci Resolve">DaVinci
                              Resolve</a>

                          </li>
                          <li>
                            <a href="#" title="Premiere Pro">Premiere
                              Pro</a>

                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href="#" title="Kỹ Thuật - Kết Cấu">Kỹ Thuật -
                          Kết Cấu</a>
                        <i class="fal fa-angle-right"></i>
                        <ul class="sub-menu level3">
                          <li>
                            <a href="#" title="AutoCAD">AutoCAD</a>

                          </li>
                          <li>
                            <a href="#" title="Revit/ Etabs">Revit/
                              Etabs</a>

                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">
                      <div class="nav_horizontal_item">

                        <div class="nav_horizontal_text">
                          <p class="newBigText">Tin Tức
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /menu -->

          </div>
        </div>
      </div>



      <!-- SlideShow -->

      <div class="slider-sale">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12 col-edit-1">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 col-edit-2">
              <div class="main-slider">
                <div class="slider-large owl-carousel">
                  <div class="item" data-hash="one0">
                    <a href="pc-workstation.html"> <img src="..//static/assets/images/slide/banner/702x348-05.jpg"
                        alt="PC WORKSTATION ">
                    </a>
                  </div>
                  <div class="item" data-hash="one1">
                    <a href="chinh-sach-bao-hanh.html"> <img src="..//static/assets/images/slide/banner/702x348-06.jpg"
                        alt="BẢO HÀNH ">
                    </a>
                  </div>
                  <div class="item" data-hash="one2">
                    <a href="huong-dan-thanh-toan.html"> <img
                        src="..//static/assets/images/slide/banner/banner-web-tra-gop.png" alt="TRẢ GÓP">
                    </a>
                  </div>
                  <div class="item" data-hash="one3">
                    <a href="tim-kiem.html?key=RTX+30"> <img src="..//static/assets/images/slide/banner/anh-slide.jpg"
                        alt="RTX 3000 Series">
                    </a>
                  </div>
                  <div class="item" data-hash="one4">
                    <a href="cpu-intel.html"> <img src="..//static/assets/images/slide/banner/702x348-01.jpg"
                        alt="Intel Gen 10th">
                    </a>
                  </div>
                  <div class="item" data-hash="one5">
                    <a href="tim-kiem.html?key=3900x"> <img src="..//static/assets/images/slide/banner/702x348-07.jpg"
                        alt="RYZEN 9 3900X">
                    </a>
                  </div>
                  <div class="item" data-hash="one6">
                    <a href="gaming-gear-cooling.html"> <img
                        src="..//static/assets/images/slide/banner/63e0d8b8b0e34dbd14f2.jpg" alt="GAMING GEAR">
                    </a>
                  </div>
                </div>
                <div class="slider-small owl-carousel">
                  <a href="#one0"> <span class="transforn"></span> PC WORKSTATION </a>
                  <a href="#one1"> <span class="transforn"></span> BẢO HÀNH </a>
                  <a href="#one2"> <span class="transforn"></span> TRẢ GÓP </a>
                  <a href="#one3"> <span class="transforn"></span> RTX 3000 Series </a>
                  <a href="#one4"> <span class="transforn"></span> Intel Gen 10th </a>
                  <a href="#one5"> <span class="transforn"></span> RYZEN 9 3900X </a>
                  <a href="#one6"> <span class="transforn"></span> GAMING GEAR </a>
                </div>
              </div>
            </div>

            <!--Link Gioi Thieu yoytube  -->
            <div class="col-md-3 col-sm-3 col-xs-12 col-edit-3 mobile-display-none">
              <div class="sale">
                <a href="tim-kiem.html?key=VGA+giga"><img
                    src="..//static/assets/images/square-rtx-30-family-header-photo-1200x1200-gbt.jpg" alt="">
                </a>
              </div>
              <div class="sale ">
                <a href="tim-kiem.html?key=VGA+giga"><img
                    src="..//static/assets/images/square-rtx-30-family-header-photo-1200x1200-gbt.jpg" width="300px"
                    height="100px">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <style>
        .sale {
          margin-bottom: 3px;
        }
      </style>

      <!-- /SlideShow -->

    </div>
    <!-- Banner giữa  -->
    <div class="Banner-Giua" style="margin-top: 20px;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 Banner-Center">
            <img src="../static/assets/images/Banner-Center.png" style=" border-radius: 5px; ">
          </div>
          <div class="col-md-3 Banner-Center">
            <img src="../static/assets/images/tuVanBuildPC.jpg " style=" border-radius: 5px;">
          </div>
          <div class="col-md-3 Banner-Center">
            <img src="../static/assets/images/PCGaming.png" style=" border-radius: 5px;">
          </div>
          <div class="col-md-3 Banner-Center">
            <img src="../static/assets/images/Baolo.png" style=" border-radius: 5px;">
          </div>
        </div>
      </div>
    </div>

    <!-- sản phẩm -->
    <div class="container-fluid " style="margin-top: 20px; margin-bottom: 300px;">
      <h2 style="font-weight: bold;">TOP NHỮNG SẢN PHẨM BÁN CHẠY NHẤT</h2>
      <div class="row">
        <div class="col-md-3 col-sm-6" style="margin-top: 10px;">
          <div class="product-grid">
            <div class="product-image">
              <a href="#" class="image">
                <img class="pic-1" src="../static/assets/images/balo.png">
                <img class="pic-2" src="../static/assets/images/balo2.png">
              </a>
              <ul class="social">
                <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
              </ul>

            </div>
            <div class="product-content">
              <h3 class="title"><span class="text-overflow">Balo GARNACH
                  Roadster - Phiên bản đặc biệt Trực Tiếp Game</span></h3>

              <div class="row">
                <div class="col-md-6">
                  <h4> <del style="color: #898888;margin-right: 130px; font-size: 13px;">1,000,000đ</del></h4>
                  <h4 style="font-weight: bold;margin-right: 130px; color: red;"> 490,000đ </h4>
                </div>
                <div class="col-md-6">

                  <span class="badge"
                    style="margin-top: 30px; background-color:red; border-radius: 3px; font-size: 13px;">-20%</span>
                </div>

              </div>
            </div>
            <a class="button-addtocart" style="margin-bottom: -30px;">
              <span class="span-bt-addtocart" style="margin-top: -20px;"><i
                  class="icon-addtocart fa-thin fa-basket-shopping" style="color: white; margin-left: -112px;"></i>
                <span class="text-bt-addtocart" style="margin-left:6px;">Thêm vào giỏ</span></span>

            </a>

          </div>
        </div>
        <div class="col-md-3 col-sm-6" style="margin-top: 10px;">
          <div class="product-grid">
            <div class="product-image">
              <a href="#" class="image">
                <img class="pic-1" src="../static/assets/images/ChuotKhongDay1.png">
                <img class="pic-2" src="../static/assets/images/ChuotKhongDay2.png">
              </a>

              <ul class="social">
                <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
              </ul>

            </div>
            <div class="product-content">
              <h3 class="title"><span class="text-overflow" style="max-width: 300px;"> Balo GARNACH
                  Roadster - Phiên bản đặc biệt Trực Tiếp Game</span></h3>

              <div class="row">
                <div class="col-md-6">
                  <h4> <del style="color: #898888;margin-right: 130px; font-size: 13px;">1,000,000đ</del></h4>
                  <h4 style="font-weight: bold;margin-right: 130px; color: red;"> 490,000đ </h4>
                </div>
                <div class="col-md-6">

                  <span class="badge"
                    style="margin-top: 30px; background-color:red; border-radius: 3px; font-size: 13px;">-20%</span>
                </div>

              </div>
            </div>
            <a class="button-addtocart" style="margin-bottom: -30px;">
              <span class="span-bt-addtocart" style="margin-top: -20px;"><i
                  class="icon-addtocart fa-thin fa-basket-shopping" style="color: white; margin-left: -112px;"></i>
                <span class="text-bt-addtocart" style="margin-left:6px;">Thêm vào giỏ</span></span>

            </a>

          </div>
        </div>
        <div class="col-md-3 col-sm-6" style="margin-top: 10px;">
          <div class="product-grid">
            <div class="product-image">
              <a href="#" class="image">
                <img class="pic-1" src="../static/assets/images/Banphim1.png" height="300px">
                <img class="pic-2" src="../static/assets/images/Banphim2.png" height="300px">
              </a>

              <ul class="social">
                <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
              </ul>

            </div>
            <div class="product-content">
              <h3 class="title"><span class="text-overflow" style="max-width: 300px;">Chuột không dây gaming DareU
                  EM901X RGB</span></h3>

              <div class="row">
                <div class="col-md-6">
                  <h4> <del style="color: #898888;margin-right: 130px; font-size: 13px;">1,000,000đ</del></h4>
                  <h4 style="font-weight: bold;margin-right: 130px; color: red;"> 490,000đ </h4>
                </div>
                <div class="col-md-6">

                  <span class="badge"
                    style="margin-top: 30px; background-color:red; border-radius: 3px; font-size: 13px;">-20%</span>
                </div>

              </div>
            </div>
            <a class="button-addtocart" style="margin-bottom: -30px;">
              <span class="span-bt-addtocart" style="margin-top: -20px;"><i
                  class="icon-addtocart fa-thin fa-basket-shopping" style="color: white; margin-left: -112px;"></i>
                <span class="text-bt-addtocart" style="margin-left:6px;">Thêm vào giỏ</span></span>

            </a>

          </div>
        </div>
        <div class="col-md-3 col-sm-6" style="margin-top: 10px;">
          <div class="product-grid">
            <div class="product-image">
              <a href="#" class="image">
                <img class="pic-1" src="../static/assets/images/DareUEM901XRGB1.png" height="264px" width="263px">
                <img class="pic-2" src="../static/assets/images/DareUEM901XRGB2.png" height="264px" width="263px">
              </a>

              <ul class="social">
                <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
              </ul>

            </div>
            <div class="product-content">
              <h3 class="title"><span class="text-overflow" style="max-width: 300px;">Balo GARNACH
                  Roadster - Phiên bản đặc biệt Trực Tiếp Game</span></h3>

              <div class="row">
                <div class="col-md-6">
                  <h4> <del style="color: #898888;margin-right: 130px; font-size: 13px;">1,000,000đ</del></h4>
                  <h4 style="font-weight: bold;margin-right: 130px; color: red;"> 490,000đ </h4>
                </div>
                <div class="col-md-6">

                  <span class="badge"
                    style="margin-top: 30px; background-color:red; border-radius: 3px; font-size: 13px;">-20%</span>
                </div>

              </div>
            </div>
            <a class="button-addtocart" style="margin-bottom: -30px;">
              <span class="span-bt-addtocart" style="margin-top: -20px;"><i
                  class="icon-addtocart fa-thin fa-basket-shopping" style="color: white; margin-left: -112px;"></i>
                <span class="text-bt-addtocart" style="margin-left:6px;">Thêm vào giỏ</span></span>

            </a>

          </div>
        </div>
        <div class="col-md-3 col-sm-6" style="margin-top: 10px;">
          <div class="product-grid">
            <div class="product-image">
              <a href="#" class="image">
                <img class="pic-1" src="../static/assets/images/BaloAsusROGRangerBP3703GamingBackpack.png"
                  height="264px" width="263px">
                <img class="pic-2" src="../static/assets/images/BaloAsusROGRangerBP3703GamingBackpack2.png"
                  height="264px" width="263px">
              </a>

              <ul class="social">
                <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
              </ul>

            </div>
            <div class="product-content">
              <h3 class="title"><span class="text-overflow" style="max-width: 300px;"> Balo GARNACH
                  Roadster - Phiên bản đặc biệt Trực Tiếp Game</span></h3>

              <div class="row">
                <div class="col-md-6">
                  <h4> <del style="color: #898888;margin-right: 130px; font-size: 13px;">1,000,000đ</del></h4>
                  <h4 style="font-weight: bold;margin-right: 130px; color: red;"> 490,000đ </h4>
                </div>
                <div class="col-md-6">

                  <span class="badge"
                    style="margin-top: 30px; background-color:red; border-radius: 3px; font-size: 13px;">-20%</span>
                </div>

              </div>
            </div>
            <a class="button-addtocart" style="margin-bottom: -30px;">
              <span class="span-bt-addtocart" style="margin-top: -20px;"><i
                  class="icon-addtocart fa-thin fa-basket-shopping" style="color: white; margin-left: -112px;"></i>
                <span class="text-bt-addtocart" style="margin-left:6px;">Thêm vào giỏ</span></span>

            </a>

          </div>
        </div>
        <div class="col-md-3 col-sm-6" style="margin-top: 10px;">
          <div class="product-grid">
            <div class="product-image">
              <a href="#" class="image">
                <img class="pic-1" src="../static/assets/images/E-DraEK368L.png" height="300px">
                <img class="pic-2" src="../static/assets/images/E-DraEK368L2.png" height="300px">
              </a>

              <ul class="social">
                <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
              </ul>

            </div>
            <div class="product-content">
              <h3 class="title"><span class="text-overflow"> BBàn phím cơ E-Dra EK368L - Alpha & Beta</span></h3>

              <div class="row">
                <div class="col-md-6">
                  <h4> <del style="color: #898888;margin-right: 130px; font-size: 13px;">1,000,000đ</del></h4>
                  <h4 style="font-weight: bold;margin-right: 130px; color: red;"> 490,000đ </h4>
                </div>
                <div class="col-md-6">

                  <span class="badge"
                    style="margin-top: 30px; background-color:red; border-radius: 3px; font-size: 13px;">-20%</span>
                </div>

              </div>
            </div>
            <a class="button-addtocart" style="margin-bottom: -30px;">
              <span class="span-bt-addtocart" style="margin-top: -20px;"><i
                  class="icon-addtocart fa-thin fa-basket-shopping" style="color: white; margin-left: -112px;"></i>
                <span class="text-bt-addtocart" style="margin-left:6px;">Thêm vào giỏ</span></span>

            </a>

          </div>
        </div>
        <div class="col-md-3 col-sm-6" style="margin-top: 10px;">
          <div class="product-grid">
            <div class="product-image">
              <a href="#" class="image">
                <img class="pic-1" src="../static/assets/images/balo.png">
                <img class="pic-2" src="../static/assets/images/balo2.png">
              </a>

              <ul class="social">
                <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
              </ul>

            </div>
            <div class="product-content">
              <h3 class="title"><span class="text-overflow" style="max-width: 300px;"> Balo GARNACH
                  Roadster - Phiên bản đặc biệt Trực Tiếp Game</span></h3>

              <div class="row">
                <div class="col-md-6">
                  <h4> <del style="color: #898888;margin-right: 130px; font-size: 13px;">1,000,000đ</del></h4>
                  <h4 style="font-weight: bold;margin-right: 130px; color: red;"> 490,000đ </h4>
                </div>
                <div class="col-md-6">

                  <span class="badge"
                    style="margin-top: 30px; background-color:red; border-radius: 3px; font-size: 13px;">-20%</span>
                </div>

              </div>
            </div>
            <a class="button-addtocart" style="margin-bottom: -30px;">
              <span class="span-bt-addtocart" style="margin-top: -20px;"><i
                  class="icon-addtocart fa-thin fa-basket-shopping" style="color: white; margin-left: -112px;"></i>
                <span class="text-bt-addtocart" style="margin-left:6px;">Thêm vào giỏ</span></span>

            </a>

          </div>
        </div>
        <div class="col-md-3 col-sm-6" style="margin-top: 10px;">
          <div class="product-grid">
            <div class="product-image">
              <a href="#" class="image">
                <img class="pic-1" src="../static/assets/images/XunfoxXYH802.png">
                <img class="pic-2" src="../static/assets/images/XunfoxXYH801.png">
              </a>

              <ul class="social">
                <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
              </ul>

            </div>
            <div class="product-content">
              <h3 class="title"><span class="text-overflow" style="max-width: 300px;"> XYH80 Hollow-Out Honeycomb 2.4G
                  Wireless Gaming Mouse 4 Gear 3200 DPI RGB Light</span></h3>

              <div class="row">
                <div class="col-md-6">
                  <h4> <del style="color: #898888;margin-right: 130px; font-size: 13px;">1,000,000đ</del></h4>
                  <h4 style="font-weight: bold;margin-right: 130px; color: red;"> 490,000đ </h4>
                </div>
                <div class="col-md-6">

                  <span class="badge"
                    style="margin-top: 30px; background-color:red; border-radius: 3px; font-size: 13px;">-20%</span>
                </div>

              </div>
            </div>
            <a class="button-addtocart" style="margin-bottom: -30px;">
              <span class="span-bt-addtocart" style="margin-top: -20px;"><i
                  class="icon-addtocart fa-thin fa-basket-shopping" style="color: white; margin-left: -112px;"></i>
                <span class="text-bt-addtocart" style="margin-left:6px;">Thêm vào giỏ</span></span>

            </a>

          </div>
        </div>
        <!-- phân trang -->
        <nav style="text-align: center;" class="pagination-container-fluid">
          <div class="pagination">
            <a class="pagination-newer" href="#">PREV</a>
            <span class="pagination-inner">
              <a class="pagination-active" href="#">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">5</a>
              <a href="#">6</a>
            </span>
            <a class="pagination-older" href="#">NEXT</a>
          </div>
        </nav>
      </div>


    </div>




    <footer id="footer-site">
      <div class="top-footer wow fadeInUp">
        <div class="container-fluid">
          <div class="item">
            <h3 class="title-footer">THÔNG TIN CHUNG</h3>
            <div class="nav-item-adress">
              <ul>
                <li><a href="gioi-thieu-cong-ty.html" rel="nofollow"><i class="fal fa-angle-right"></i>Giới thiệu</a>
                </li>
                <li><a href="tin-tuc.html" rel="nofollow"><i class="fal fa-angle-right"></i>Tin tức -
                    Cập nhật</a>
                </li>
                <li><a href="thong-tin-khuyen-mai.html" rel="nofollow"><i class="fal fa-angle-right"></i>Thông tin
                    khuyến mại</a>
                </li>
                <li><a href="lien-he.html" rel="nofollow"><i class="fal fa-angle-right"></i>Thông tin
                    liên hệ</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="item">
            <h3 class="title-footer">CHÍNH SÁCH CHUNG</h3>
            <div class="nav-item-adress">
              <ul>
                <li><a href="chinh-sach-van-chuyen.html" rel="nofollow"><i class="fal fa-angle-right"></i>Chính sách vận
                    chuyển</a>
                </li>
                <li><a href="chinh-sach-bao-hanh.html" rel="nofollow"><i class="fal fa-angle-right"></i>Chính sách bảo
                    hành</a>
                </li>
                <li><a href="chinh-sach-doi-tra.html" rel="nofollow"><i class="fal fa-angle-right"></i>Chính sách đổi
                    trả</a>
                </li>
                <li><a href="chinh-sach-bao-mat.html" rel="nofollow"><i class="fal fa-angle-right"></i>Chính sách bảo
                    mật</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="item">
            <h3 class="title-footer">HỖ TRỢ KHÁCH HÀNG</h3>
            <div class="nav-item-adress">
              <ul>
                <li><a href="huong-dan-mua-hang-truc-tuyen" rel="nofollow"><i class="fal fa-angle-right"></i>Hướng dẫn
                    mua trực tuyến</a>
                </li>
                <li><a href="huong-dan-mua-hang-tra-gop" rel="nofollow"><i class="fal fa-angle-right"></i>Hướng dẫn mua
                    trả góp</a>
                </li>
                <li><a href="huong-dan-thanh-toan.html" rel="nofollow"><i class="fal fa-angle-right"></i>Hướng dẫn thanh
                    toán</a>
                </li>
                <li><a href="tu-van-ky-thuat.html" rel="nofollow"><i class="fal fa-angle-right"></i>Tư
                    vấn kỹ thuật</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="item">
            <h3 class="title-footer">Hỗ trợ khách hàng</h3>
            <div class="nav-item-adress">
              <div class="fb-page" data-href="h" data-tabs="timeline" data-height="135" data-small-header="false"
                data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                <blockquote cite="h" class="fb-xfbml-parse-ignore"><a href="h">Facebook</a></blockquote>
              </div>
            </div>
          </div>
          <div class="item">
            <h4 class="title">Liên kết mạng xã hội</h4>
            <div class="nav-item-adress">
              <ul class="social-footer">
                <li><a href="h"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li><a href=""><i class="fab fa-twitter"></i></a>
                </li>
                <li><a href="h"><i class="fab fa-instagram"></i></a>
                </li>
                <li><a href=""><i class="fab fa-youtube"></i></a>
                </li>
                <li><a href=""><i class="fab fa-google"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="band-logo wow fadeInUp">
        <div class="container-fluid">
          <div class="slider-logo owl-carousel">
            <div class="item">
              <a href=""><img src="../static/assets/images/doi-tac/aorus-logo-228x228.png" alt="">
              </a>
            </div>
            <div class="item">
              <a href=""><img src="../static/assets/images/doi-tac/1280px-intel-logo.svg.png" alt="">
              </a>
            </div>
            <div class="item">
              <a href=""><img src="../static/assets/images/doi-tac/cooler-master-logo-png-3.png" alt="">
              </a>
            </div>
            <div class="item">
              <a href=""><img src="../static/assets/images/doi-tac/corsair1.png" alt="">
              </a>
            </div>
            <div class="item">
              <a href=""><img src="../static/assets/images/doi-tac/dctaxly2.png" alt="">
              </a>
            </div>
            <div class="item">
              <a href=""><img src="../static/assets/images/doi-tac/amd.png" alt="">
              </a>
            </div>
            <div class="item">
              <a href=""><img src="../static/assets/images/doi-tac/nvidia-logo2.png" alt="">
              </a>
            </div>
            <div class="item">
              <a href=""><img src="../static/assets/images/doi-tac/msi.png" alt="">
              </a>
            </div>
            <div class="item">
              <a href=""><img src="../static/assets/images/doi-tac/42226369.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom wow fadeInUp">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-2">
              <a href="" class="logo-footer">
                <img src="../static/assets/images/logo/logo.jpg"
                  alt="CÔNG TY TNHH THƯƠNG MẠI DỊCH VỤ VÀ CÔNG NGHỆ PCGearHusb">
              </a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="title-footer">
                CÔNG TY TNHH THƯƠNG MẠI DỊCH VỤ VÀ CÔNG NGHỆ PCGesarHub
              </div>
              <div class="nav-bottom">
                <p><span>Địa chỉ : Cần Thơ</p>
                <p><span>Địa chỉ kinh doanh: </span>Địa chỉ : Số 10000 - Cần Thơ -
                  Cần Thơ</p>
                <p style="color:#000000!important"><span>Điện thoại: </span>0389307257 - 0389307257</p>
                <p><span>Email: </span>nhdinhpc3@gmail.com</p>
                <p><span>Hotline: </span>0389307257</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="map-footer"> 
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52547.56565281307!2d105.71637028090807!3d10.034184408522814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a0629f6de3edb7%3A0x527f09dbfb20b659!2zQ-G6p24gVGjGoSwgTmluaCBLaeG7gXUsIEPhuqduIFRoxqEsIFZp4buHdCBOYW0!5e1!3m2!1svi!2s!4v1688612793398!5m2!1svi!2s"
                  width="342" height="130" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copy-right">
        <div class="container-fluid">
          <div class="wp-copy text-center" style="color:#000000">
            Mã số thuế: 123456789 - Do sở kế hoạch và đầu tư thành phố Hà Nội Cấp ngày 01/01/1000
          </div>
        </div>
      </div>
    </footer>
    <div class="holine-footer">
      <div class="holine-footer1">
          <span class="title-holine">Hotline:</span>
          <a href="tel:0389.307.257"><span class="holine-phone">0389.307.257</span></a>
      </div>
      <div id="btn-top">
        <img src="..//static/assets/images/logo/btn-top.png" alt="">
      </div>
  </div>

</body>


<script type="text/javascript" src="..//static/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="..//static/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="..//static/assets/js/wow.min.js"></script>
<script type="text/javascript" src="..//static/assets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="..//static/assets/js/BannerFloat.js"></script>
<script src="..//static/assets/js/hc-offcanvas-nav.js"></script>
<script type="text/javascript" src="..//static/assets/js/buong.js"></script>

</html>