<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/admin/layouts/layout :: dynamic(~{::body})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
		<div class="main-panel">
			<div class="content-wrapper">
				<div class="page-header">
					<h3 class="page-title">Chart-js</h3>
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Charts</a></li>
							<li class="breadcrumb-item active" aria-current="page">Chart-js</li>
						</ol>
					</nav>
				</div>
				<div class="row">
					<div class="col-lg-6 grid-margin stretch-card"  ng-controller="line">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Line chart</h4>
								<canvas id="lineChart" style="height: 250px"></canvas>
							</div>
						</div>
					</div>
					<div class="col-lg-6 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Bar chart</h4>
								<canvas id="barChart" style="height: 230px"></canvas>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Area chart</h4>
								<canvas id="areaChart" style="height: 250px"></canvas>
							</div>
						</div>
					</div>
					<div class="col-lg-6 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Doughnut chart</h4>
								<canvas id="doughnutChart" style="height: 250px"></canvas>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Pie chart</h4>
								<canvas id="pieChart" style="height: 250px"></canvas>
							</div>
						</div>
					</div>
					<div class="col-lg-6 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Scatter chart</h4>
								<canvas id="scatterChart" style="height: 250px"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		

		<script th:src="@{/admin/vendors/js/vendor.bundle.base.js}"></script>
		<!-- Plugin js for this page -->
		<script th:src="@{/admin/vendors/chart.js/Chart.min.js}"></script>
		<!-- End plugin js for this page -->
		<!-- inject:js -->
		<script th:src="@{/admin/js/off-canvas.js}"></script>
		<script th:src="@{/admin/js/hoverable-collapse.js}"></script>
		<script th:src="@{/admin/js/misc.js}"></script>
		<script th:src="@{/admin/js/settings.js}"></script>
		<script th:src="@{/admin/js/todolist.js}"></script>
		<!-- endinject -->
		<!-- Custom js for this page -->
	<!-- 	<script th:src="@{/admin/js/chart.js}"></script> -->
	
		<script th:inline="javascript" th:src="@{/admin/angularjs/main.js}"></script>
		<script th:inline="javascript" th:src="@{/admin/angularjs/line-chart.js}"></script>
		<!-- End custom js for this page -->
</body>
</html>