<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/admin/layouts/layout :: dynamic(~{::body})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
 <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css}" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

	<link rel="stylesheet" th:href="@{/admin/css/style.css}">
	<!-- Plugin css for this page -->
	<link rel="stylesheet"
		th:href="@{/admin/vendors/select2/select2.min.css}" type="text/css"
		media="all">
	<link rel="stylesheet"
		th:href="@{/admin/vendors/select2-bootstrap-theme/select2-bootstrap.min.css}"
		type="text/css" media="all">
		
	<div class="content-wrapper">
		<div class="content-wrapper">
			<div class="page-header">
				<h3 class="page-title">Chỉnh sửa sản phẩm</h3>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Forms</a></li>
						<li class="breadcrumb-item active" aria-current="page">Form
							elements</li>
					</ol>
				</nav>
			</div>
			<div class="row">
				<div class="col-md-6 col-xl-4 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Ảnh sản phẩm</h4>
							<hr style="background-color: white;">
							<div>
								<label for="exampleInputUsername2"
										class="col-sm-3 col-form-label">Ảnh 1</label>
								<img th:src="@{/admin/images/dashboard/Rectangle.jpg}"
									style="max-width: 300px" alt="">
										<label for="exampleInputUsername2"
										class="col-sm-3 col-form-label">Ảnh 2</label>
									<img th:src="@{/admin/images/dashboard/Rectangle.jpg}"
									style="max-width:300px" alt="">
									
									            <div class="form-group mt-3" style="max-width: 304px">
                        <input type="file" name="img[]" class="file-upload-default">
                        <div class="input-group col-xs-12">
                          <input type="text" class="form-control file-upload-info" disabled placeholder="Tải ảnh lên">
                          <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button">Tải ảnh</button>
                          </span>
                        </div>
                      </div>
							</div>

						</div>
					</div>
				</div>

				<div class="col-md-6 grid-margin stretch-card ms-5">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Nhập thông tin</h4>
							<hr style="background-color: white;">
							<p class="card-description">Giao diện chỉnh sửa sản phẩm</p>
							<form class="forms-sample">
								<div class="form-group row">
									<label for="exampleInputUsername2"
										class="col-sm-3 col-form-label">Mã sản phẩm</label>
									<div class="col-sm-9">
										<input type="text" class="form-control"
											id="exampleInputUsername2" placeholder="Tên tài khoản">
									</div>
								</div>
								<div class="form-group row">
									<label for="exampleInputUsername2"
										class="col-sm-3 col-form-label">Tên sản phẩm</label>
									<div class="col-sm-9">
										<input type="text" class="form-control"
											id="exampleInputUsername2" placeholder="Tên sản phẩm">
									</div>
								</div>
								<div class="form-group row">
									<label for="exampleInputUsername2"
										class="col-sm-3 col-form-label">Giá</label>
									<div class="col-sm-9">
										<input type="number" class="form-control"
											id="exampleInputUsername2" placeholder="Giá">
									</div>
								</div>
								<div class="form-group row">
									<label for="exampleInputEmail2" class="col-sm-3 col-form-label">Số lượng</label>
									<div class="col-sm-9">
										<input type="number" class="form-control"
											id="exampleInputEmail2" placeholder="Số lượng">
									</div>
								</div>
							
						

								<div class="row form-group">
								<label for="exampleInputMobile" class="col-sm-3 col-form-label">Trạng thái</label>
									<div class="form-check col-4 ms-2">
										<label class="form-check-label"> <input type="radio"
											class="form-check-input" checked name="optionsRadios"
											id="admin" value=""> Còn hoạt động
										</label>
									</div>
									<div class="form-check col-4">
										<label class="form-check-label"> <input type="radio"
											class="form-check-input" name="optionsRadios"
											id="admin" value="option2" checked> Ngưng hoạt động
										</label>
									</div>
								</div>
								
								<div class="row form-group">
								<label for="exampleInputMobile" class="col-sm-3 col-form-label">Danh mục</label> <select class="form-select form-check col-4 ms-2"
										style="background-color: black; color: white; border: black;"
										aria-label="Default select example">
										<option selected>Danh mục</option>
										<option value="1">One</option>
										<option value="2">Two</option>
										<option value="3">Three</option>
									</select>

								</div>
												<div class="row form-group">
								<label for="exampleInputMobile" class="col-sm-3 col-form-label">Brand</label> <select class="form-select form-check col-4 ms-2"
										style="background-color: black; color: white; border: black;"
										aria-label="Default select example">
										<option selected>nhãn hàn</option>
										<option value="1">One</option>
										<option value="2">Two</option>
										<option value="3">Three</option>
									</select>

								</div>					
				

								
								
<hr style="background-color: white;">
								<button type="submit" class="btn btn-primary mr-2">Thêm</button>
								<button type="submit" class="btn btn-success mr-2">Sửa</button>
								<button type="submit" class="btn btn-danger mr-2">Xóa</button>
								
								<button class="btn btn-dark">Làm mới</button>
							</form>
						</div>
					</div>
				</div>

			</div>
			</div>
			</div>
			
			
			<!-- Plugin js for this page -->
			
		<!-- 	<script th:inline="javascript"
				th:src="@{/admin/vendors/select2/select2.min.js}"></script>
			<script th:inline="javascript"
				th:src="@{/admin/vendors/typeahead.js/typeahead.bundle.min.js}"></script>
			Custom js for this page
			<script th:inline="javascript"
				th:src="@{/admin/vendors/js/file-upload.js}">
				
			</script>
			<script th:inline="javascript" th:src="@{/admin/js/typeahead.js}"></script>
			<script th:inline="javascript" th:src="@{/admin/js/select2.js}"></script> -->
</body>
</html>