<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/admin/layouts/layout :: dynamic(~{::body})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="main-panel" >
		<div class="content-wrapper">
			<div class="page-header">
				<h3 class="page-title">Basic Tables</h3>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Tables</a></li>
						<li class="breadcrumb-item active" aria-current="page">Basic
							tables</li>
					</ol>
				</nav>
			</div>
			<div class="row">

				<div class="col-lg-12 grid-margin stretch-card">
					<div class="card">
						<div class="card-body" ng-controller="ctrl">
							<h4 class="card-title">Hoverable Table</h4>
							{{u}}
							<p class="card-description">
								Add class
								<code>.table-hover</code>
							</p>
							<div class="table-responsive">
								<table class="table table-hover">
									<thead>
										<tr>
											<th ng-click="sortBy('id')">Mã người dùng</th>
											<th ng-click="sortBy('name')">Tên người dùng</th>
											<!-- <th ng-click="sortBy('phone')">Số điện thoại	</th> -->
											<th ng-click="sortBy('email')">Email</th>

											<th ng-click="sortBy('image')">Hình ảnh</th>
											<th ng-click="sortBy('admin')">Chức vụ</th>
											<th ng-click="sortBy('status')">Trạng thái</th>
											<th ng-click="sortBy('confirm')">Tài khoản</th>
											<th>Edit</th>

										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="user in items | orderBy:prop |limitTo:5:begin">
											<td>{{user.id}}</td>
											<td>{{user.name}}</td>
											<!-- 	<td>{{user.phone}}</td> -->
											<td>{{user.email}}</td>
											<td>{{user.image}}</td>
											<td>{{user.admin}}</td>
											<td>{{user.status}}</td>
											<td>{{user.confirm}}</td>

											<!-- 	<td><a ng-click="edit(user.id)" th:href="@{|/pcgearhub/admin/form-user/{{user.id}}|}" class="btn btn-primary">Edit</a></td> -->
											<td ng-click="edit(user.id)"><a href="#">edit </a></td>
										</tr>
									</tbody>
								</table>
								<!-- Phần phân trang -->


							</div>
							<div class="row">
								<div class="col-sm-4"></div>
								<ul class="pagination col-sm-4">
									<li class="btn"><a href="#">{{currentPage}} of
											{{pageCount}}</a></li>
									<li class="btn"><a href="#" ng-click="first()"><i
											class="fas fa-angle-double-left"></i></a></li>
									<li class="btn"><a href="#" ng-click="prev()"><i
											class="fas fa-angle-left"></i></a></li>
									<li class="btn"><a href="#" ng-click="next()"><i
											class="fas fa-angle-right"></i></a></li>
									<li class="btn"><a href="#" ng-click="last()"><i
											class="fas fa-angle-double-right"></i></a></li>
								</ul>
								<div class="col-sm-4"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		<script th:inline="javascript" th:src="@{/admin/angularjs/main.js}"></script>
<script th:inline="javascript" th:src="@{/admin/angularjs/user.js}"></script> 
</body>
</html>